.documents {
    &__container {
    }

    &__title {
        margin: 0;
    }

    &__swiper {
        margin-top: 60px;
        padding-right: 22px;
    }

    &__swiper-wrapper {
    }

    &__card {
        display: flex;
        flex-direction: column;
        padding: 16px 40px 16px 40px;
        border-left: 1px solid #E6E6E7;
        transition: .3s;
        &:last-child{
            border-right: 1px solid #E6E6E7;
        }
        &:not(:hover)
        {
            .product__file-icon-tag{
                color: white;
                background-color: rgba(175, 175, 177, 1);
                border-color: rgba(175, 175, 177, 1);
            }
        }
 
        &:hover{
            opacity: 1;
            background-color: #E6E6E7;
            border-radius: 12px;
            .documents__card-bottom{
                border-top: 1px solid #AFAFB1
            }
            .documents__card-bottom-text{
                color: #E66410;
                border-bottom: 1px solid #E66410;
            }
            .documents__card-ico {
                path{
                    stroke: #E66410;
                }
            }
        }

    }

    &__card-img-wrapper {
        height: 42px;
        width: fit-content;
        padding: 5px;
        background-color: white;
        border-radius: 12px;
    }

    &__card-img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    &__card-title {
        margin-top: 20px;
    }

    &__card-description {
        margin-top: 8px;
        color: #454446;
    }

    &__card-bottom {
        margin-top: 52px;
        padding-top: 16px;
        border-top: 1px solid #E6E6E7;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 32px;
        transition: .3s;
    }

    &__card-bottom-text {
        color: #454446;
        transition: .3s;
        border-bottom: 1px solid transparent;
    }

    &__card-ico-wrapper {
    }

    &__card-ico {
        transition: .3s;
        g{
            fill: transparent;
        }
        path{
            transition: .3s;
        }
    }

    &__swiper-pagination {
    }

    &__card-file-wrapper{
        position: relative;
        width: 40px;
        height: 48px;
        flex-shrink: 0;
    }
    &__content{
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        gap: 40px;
        .documents__swiper{
            margin: 0;
        }
    }

    &__tabs {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        gap: 32px;
        width: 100%;
        overflow-x: auto;
        padding-bottom: 5px;
    }
    &__tab {
        width: max-content;
        flex-shrink: 0;
        a{
            width: max-content;
            flex-shrink: 0;
            color: rgba(108, 108, 110, 1);
            border-bottom: transparent;
            padding-bottom: 4px;
            &:hover{
                color: #E66410;  
                border-bottom: 1px solid #E66410;
            }
        }
        &.uk-active{
            a{
                color: #E66410;  
                border-bottom: 1px solid #E66410;
            }
        }
    }
}
@include media($mobile) {
    .documents {
        &__content{
            margin-top: 32px;
        }
        &__card {
            padding: 16px;
        }
        &__swiper{
            padding-right: 0px;
        }
    }
}