.header {
    transition: .3s !important;
    z-index: 1000;
    width: 100% !important;
    padding-top: 26px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: fit-content;
    border-bottom: 1px solid transparent;
    &_active{
        border-bottom: 1px solid #5b5b5d;
        .header__line{
            background-color: transparent;
        }
    }

    background-color: #454446;
    &__container {
        display: flex;
        flex-direction: column;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 32px;
    }

    &__logo-wrapper {
        height: 56px;
        width: auto;
    }

    &__logo {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }

    &__contacts-block {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    &__contacts-link {
        color: #F58220;
    }

    &__contacts-text {
        color: white;;
    }

    &__buttons {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-left: auto;
    }

    &__button {
        height: 40px;
    }
    &__line{
        margin: 16px 0 0 0;
        width: 0%;
        background-color: #F5F5F6;
        height: 1px;
        opacity: 0.2;
        animation: lineExpand 2s ease-in-out forwards;
    }
    &__bottom {
        padding-bottom: 26px;
        top: 94px;
        padding-top: 16px;
        background-color: #454446;
        transition: .3s;
    }
    &__bottom-container{
        display: flex;
        gap: 32px;
        align-items: center;
        justify-content: space-between;
        height: fit-content;
    }
    &__menu {
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 32px;
        li{
            list-style-type: none;
            text-decoration: none;
            flex-shrink: 0;
            a{
                color: white;
                &:hover{
                    color: #F58220;
                    opacity: 1;
                }
            }
        }
    }

    &__search-block {
        display: flex;
        align-items: center;
        gap: 12px;
        width: fit-content;
        &:hover{
            .header__search-input{
                opacity: 1;
            }
        }
    }

    &__search-input {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #AFAFB1;
        height: 40px;
        padding: 10px 0;
        max-width: 265px;
        min-width: 165px;
        width: 100%;
        color: white;
        opacity: 0;
        transition: .3s;
        &::placeholder{
            color: #D0D0D1;
            opacity: 1;
        }
    }
    &__bottom-include{
        display: none;
    }
    &__bottom-mobile-up{
        display: none;
    }
    &__bottom-mobile-bottom{
        display: none;
    }
}

@keyframes lineExpand {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

.header {
    &__burger {
        display: none;
        height: 16px;
        width: 20px;
        align-items: center;
        justify-content: center;
        position: relative;
        &.active{
            .header__burger-line {
                &:nth-child(1)
                {
                    transform: translateY(0) rotate(45deg);
                    
                }
                &:nth-child(2)
                {
                    opacity: 0;
                }
                &:nth-child(3)
                {
                    transform: translateY(0) rotate(-45deg);
                }
            }
        }
    }
    &__burger-line {
        position: absolute;
        width: 100%;
        height: 2px;
        border-radius: 50px;
        background-color: white;
        transition: .3s;
        &:nth-child(1)
        {
            transform: translateY(-6px);
        }
        &:nth-child(2)
        {
            transform: translateY(0);
        }
        &:nth-child(3)
        {
            transform: translateY(6px);
        }
    }
}


@include media($tablet) {
    .header {
        padding-top: 7px;
        padding-bottom: 7px;
        border-bottom: 1px solid #5b5b5d;
        &__burger {
            display: flex;
        }
        &__logo-wrapper {
            height: 50px;
        }
        &__line{
            display: none;
        }
        &__bottom{
            position: fixed !important;
            z-index: 1001;
            width: 100%;
            height: 100svh;
            overflow: auto;
            transform: translateY(-100%);
            //border-radius: 0px 0px 12px 12px;
            &.active{
                transform: translateY(0);  
            }
            padding-top: 0px;
        }
        &__bottom-container{
            //flex-direction: column;
            //flex-wrap: wrap;
            /*display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 10px;*/
            display: flex;
            flex-direction: column;
            gap: 0px;
        }
        &__menu{
            flex-direction: column;
            //grid-row: 1 / 5;
            gap: 20px;
            align-items: start;
            margin-top: 24px;
            width: 100%;
            padding-bottom: 24px;
            border-bottom: 1px solid #68686a;
            a{
                font-weight: 300;
            }
        }
        &__bottom-include{
            display: unset;
            height: fit-content;
        }
        &__search-input{
            opacity: 1;
            border: none;
            &::placeholder{
                color: #68686a;
            }
        }
        &__search-block{
            .btn_icon-main{
                opacity: 0.3;
            }
        }
        &__bottom-mobile-up{
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: space-between;

            height: 65px;
            padding: 7px 15px;
            border-bottom: 1px solid #5b5b5d;
        }
        &__bottom-include-button{
            width: 100%;
            margin-top: 24px;
            .header__buttons{
                gap: 16px;
            }
            .header__button{
                width: 100%;
            }
        }
        &__bottom-include-contact{
            &_first{
                width: 100%;
                margin-top: 24px;
                .header__contacts-link{
                    color: white;
                }
            }
            &_second{
                width: 100%;
                margin-top: 16px;
                .header__contacts-link{
                    color: white;
                }
            }
        }
        &__bottom-mobile-bottom{
            display: flex;
            margin-top: 24px;
            padding-top: 24px;
            border-top: 1px solid #68686a;
            flex-direction: column;
            gap: 12px;
        }
    }
}


.menu-category {
        margin-top: 40px;
        background-color: #454446;
        position: fixed;
        top: 136px;
        width: 100%;
        z-index: 979;
        right: 0;
        height: fit-content;
        overflow: auto;
        padding: 24px 0 60px 0;
        transform: translateY(-150%);
        //opacity: 0;
        pointer-events: none;
        transition: .5s;
        &.active{
            transform: translateY(0);
            //opacity: 1;
            pointer-events: unset;
        }
		&__grid {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: 32px;
		}
		&__item {
            display: flex;
            flex-direction: column;
            background-color: rgba(89, 89, 91, 1);
            border-radius: 12px;
            padding: 12px;
            gap: 20px;
            &:hover{
                opacity: 1;
                background-color: rgba(135, 135, 137, 1);
            }
		}
		&__item-title {
            color: white;
        }
		&__item-wrapper {
            height: 120px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 8px;
            }
		}
        &__container-title{
            display: none;
            height: fit-content;
            margin-top: 24px;
            span{
                color: white;
            }
        }
}
.header__menu .toggle-button.active{
    color:#F58220;
}
.menu-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 978;
    display: none;
}
@include media($tablet) {
    .menu-category{
        z-index: 1001;
        top: 0;
        margin-top: 0;
        padding-top: 0;
        height: 100svh;
        &__buton-arrow{
            width: 24px;
            height: 24px;
            flex-shrink: 0;
            padding: 2px;
            cursor: pointer;
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        &__container-title{
            display: flex;
        }
    }
    .menu-category__grid{
        grid-template-columns: 1fr 1fr;
        gap: 12px 5px;
        margin-top: 20px;
    }
    .menu-overlay{
        display: none !important;
    }
}
