.hero {
    background-color: #454446;
    &__container {
        position: relative;
    }

    &__swiper {
        // height: calc(100svh - 176px);
        // height: 815px;
    }

    &__swiper-wrapper {
        align-items: stretch;
    }

    &__swiper-slide {
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: auto;
    }

    &__slide-top {
        position: relative;
        z-index: 2;
        display: flex;
        align-items: end;
        justify-content: space-between;
        gap: 12px;
        height: fit-content;
        margin-top: 40px;
    }

    &__slide-title {
        background: linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0.3) 82.21%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        text-fill-color: transparent;
        max-width: 716px;
        margin: 0;
    }

    &__slide-top-block {
        display: flex;
        flex-direction: column;
        gap: 32px;
        max-width: 480px;
    }

    &__slide-top-text {
        color: white;
    }

    &__slide-top-buttons {
        display: flex;
        align-items: center;
        gap: 12px
    }

    &__slide-top-button {
        width: 192px;
    }

    &__slide-back-wrapper {
       /* position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 1;
        //filter: brightness(50%);
        height: 100%;
        img{
            pointer-events: none;
        }
        */
        height: 100%;
        width: 100%;
        img{
            pointer-events: none;
        }
        margin-top: 60px;
    }
    &__slide-back-wrapper-part{
        margin-top: 0px;
        /*
        position: static;
        width: 100%;
        margin: 0;
        background-color: transparent;
        filter: none;
        */
    }
    &__slide-back {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 0 0;
    }

    &__swiper-pagination {
        position: absolute;
        z-index: 10;
        bottom: 25%;
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: space-between;
        left: 0;
        right: 0;
        margin: auto;
        width: fit-content;
        .swiper-pagination-bullet{
            background-color: white;
            width: 8px;
            height: 8px;
            border-radius: 50px;
            display: flex;
            transition: .3s;
            cursor: pointer;
            &.swiper-pagination-bullet-active{
                width: 11px;
                height: 11px;
                background-color: #878789;
            }
        }
    }
    &__swiper-button{
        position: absolute;
        background-color: #0000004D;
        bottom: 40%;
        z-index: 10;
        width: 49px;
        height: 49px;
        flex-shrink: 0;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: .3s;
        &:hover{
            background-color: #000000a1;
        }
    }
    &__swiper-button-prev {
        .swiper-button-ico{
            transform: rotate(180deg);
            margin-left: -8px;
            pointer-events: none;
        }
        left: 33px;
    }

    &__swiper-button-next {
        right: 33px;
        .swiper-button-ico{
            margin-right: -5px;
            pointer-events: none;
        }
    }
            
    &__advantages {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        gap: 20px;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        bottom: -80px;
        z-index: 10;
        height: fit-content;

        max-width: 1100px;
    }

    &__advantages-card {
        background-color: white;
        box-shadow: 0px 4px 40px 0px #0000000D;
        padding: 32px 40px;
        display: flex;
        flex-direction: column;
        gap: 12px;
        border-radius: 8px;
        &:hover{
            .hero__advantages-card-title{
                color: #F58220;
            }
        }
        width: 100%;
    }

    &__advantages-card-title {
        transition: .3s;
    }

    &__advantages-card-text {
        color: #878789;
    }
    &__slide-top-button{
        width: 100%;
    }
}


@include media($tablet) {
    .hero {
       

        &__slide-top {
            flex-direction: column;
            align-items: start;
        }
        &__slide-back-wrapper{
            margin-top: 30px;
        }
        &__advantages{
            bottom: -80px;
            overflow: auto;
        }
        &__advantages-card{
            width: fit-content;
            flex-shrink: 0;
        }
        &__swiper-button{
            display: none;
        }
        &__swiper-pagination{
            display: none;
        }
        &__slide-top-buttons{
            flex-direction: column;
        }
    }
}