html, body {
    font-family: 'Onest', sans-serif;
    color: #262626;
    //padding: 20px;
    padding-right: 0px !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Onest', sans-serif;
}

a {
    color: inherit;
    transition: .3s;
    &:hover {
        text-decoration: none;
        opacity: .7;
    }
}

.container {
}
.components {
		&__container {
		}
}
.text {
    &_72 {
        font-size: 72px;
    }
    &_68 {
        font-size: 68px;
    }
    &_64 {
        font-size: 64px;
    }
    &_56 {
        font-size: 56px;
    }
    &_48 {
        font-size: 48px;
    }
    &_40 {
        font-size: 40px;
    }
    &_32 {
        font-size: 32px;
    }
    &_28 {
        font-size: 28px;
    }
    &_24 {
        font-size: 24px;
    }
    &_20 {
        font-size: 20px;
    }
    &_18 {
        font-size: 18px;
    }
    &_16 {
        font-size: 16px;
    }
    &_14 {
        font-size: 14px;
    }
    &_12 {
        font-size: 12px;
    }
    &_bold {
        font-weight: 900;
    }		
    &_semibold {
        font-weight: 700;
    }	
    &_onest {
        font-family: 'Onest', sans-serif;
    }
    &_manrope {
        font-family: 'Manrope', sans-serif;
    }
}
.btn {
    display: flex;
    align-items: center;
    width: fit-content;
    border: 1px solid transparent;
    background-color: transparent;
    border-radius: 8px;
    cursor: pointer;
    transition: .3s;
    font-weight: 600;
    text-align: center;
    justify-content: center;
    height: fit-content;
    &_big {
        gap: 16px;
        padding: 17px 32px;
    }
    &_small {
        gap: 8px;
        padding: 9px 16px;
    }
    &_medium {
        gap: 12px;
        padding: 10px 20px;
    }
    &_middle {
        gap: 14px;
        padding: 12px 24px;
    }
    &_orange{
        background-color: #E66410;
        color: white;
        &:hover{
            background-color: #F79B40;
            opacity: 1;
        }
        &_light{
            color: #E66410;
            background-color: #FEEFD6;
            &:hover{
                color: #FEEFD6;
                background-color: #E66410;
                opacity: 1;
            }
        }
    }
    &_opacity{
        background-color: #FFFFFF1A;
        color: white;
        &:hover{
            background-color: #ffffff3a;
            opacity: 1;
        }
    }
    &_light{
        background-color: #AFAFB1;
        color: #262626;
        &:hover{
            opacity: 0.6;
        }
    }
    &_square{
        width: 40px;
        height: 40px;
        padding: 10px;
        flex-shrink: 0;
    }
    &_icon-main{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    &_square-icon{
        width: 40px;
        height: 40px;
        padding: 8px;
        flex-shrink: 0;
    }
    &_transparent{
        background-color: transparent;
        color: white;
        &:hover{
            background-color: #ffffff3a;
            opacity: 1;
        }
    }
}
.black-ground{
    background-color: #454547;
    padding: 15px;
    display: flex;
    gap: 20px;
}
.components{
    &__container{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
}

.section {
    padding-top: 90px;
    &_first {
        padding-top: 94px;
    }
}

@include media($tablet) {
    .section {
        padding-top: 60px;
        &_first {
            padding-top: 64px;
        }
    }
    .text_mobile {
        &_72 {
            font-size: 32px;
        }
        &_68{
            font-size: 32px;
        }
        &_64 {
            font-size: 32px;
        }
        &_56 {
            font-size: 32px;
        }
        &_48 {
            font-size: 32px;
        }
        &_40 {
            font-size: 32px;
        }
        &_32 {
            font-size: 24px;
        }

        &_28 {
            font-size: 24px;
        }
        &_24 {
            font-size: 20px;
        }
        &_20 {
            font-size: 16px;
        }
        &_18 {
            font-size: 16px;
        }

        &_16 {
            font-size: 14px;
        }
        &_14 {
            font-size: 12px;
        }
        &_12 {
            font-size: 12px;
        }
    }
}

@include media($tablet) {

}

@include media($mobile) {

}

.swiper-button-prev{
    .swiper-button-ico{
        transform: rotate(180deg);
    }
}
@keyframes scale_anim {
    0% {
        transform: scale(1)
    }

    50% {
        transform: scale(1.15)
    }

    100% {
        transform: scale(1)
    }
}

.swiper-pagination {
		&__dots-group {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            gap: 6px;
            margin-top: 50px;
            .swiper-pagination-bullet{
                transition: .3s;
                width: 8px;
                height: 8px;
                border-radius: 50px;
                background-color: #F5F5F6;
            }
            .swiper-pagination-bullet-active{
                width: 10px;
                height: 10px;
                background-color: #878789;
            }
		}
}
.form {
		&__input {

			&_line {
                background-color: transparent;
                color: #878789;
                border: none;
                border-bottom: 1px solid #878789;
                padding: 8px 0;
                &::placeholder{
                    color: #878789;
                    opacity: 1;
                }
			}
            &_opacity{
                background-color: rgba(255, 255, 255, 0.1);
                color: #878789;
                padding: 10px 20px;
                border-radius: 8px;
                border: none;
                &::placeholder{
                    color: #878789;
                    opacity: 1;
                }
            }
		}
        &__input-textarea{
            height: 100px;
        }
}
.input-file{
    opacity: 0;
    position: absolute;
    pointer-events: none;
}
.button-text-file{
    white-space: nowrap;       
    overflow: hidden;          
    text-overflow: ellipsis;  
    display: inline-block;     
    max-width: 100%;           
    vertical-align: middle;   
}
.swiper-pagination__dots-group.swiper-pagination-lock{
    display: none;
}


.btn-up{
    z-index: 100;
    cursor: pointer;
    padding: 14px;
    position: fixed;
    right: 50px;
    bottom: 50px;
    width: 50px;
    height: 50px;
    background-color: rgb(230, 100, 16);;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
    opacity: 0;
    pointer-events: none;
    border: none;
    flex-shrink: 0;
}
.btn-up.active{
    opacity: 1;
    pointer-events: unset;
}
.btn-up:hover{
    opacity: 0.5;
}
.btn-up:hover img{

}
.btn-up img{
    transition: .3s;
    width: 100%;
    height: 100%;
    object-fit: contain;
    transform: rotate(-45deg);
    margin-right: 2px;
}

.title-section {

		&__container {
		}

		&__title {
            margin: 0;
		}
}
